/images
/includes
/language
/libraries
/logs
/media
/modules
/plugins
/templates
/tmp
/vb
/configuration.php
/configuration.php.save.php
/htaccess.txt
/index.php
/info.php
/LICENSE.txt
/README.txt
/robots.txt
/web.config.txt
/cache
/cgi-bin
/cli
/.htaccess
/layouts
/CONTRIBUTING.md
/kickstart.php
/phpunit.xml.dist
